/*
 * Colors 
 */
 
// Blues 
$dark-blue: #003366
$light-blue: #CAE1FF
$light-blue-lightened-10: lighten($light-blue, 10%)

// Tans
$sand: #FEE8D6
$sand-lightened-10: lighten($sand, 5%)


/*
 * Borders
 */

$border-width: 1px
$border-radius: 5px


/*
 * Spacing
 */
 
$spacing-increment: 5px
$margin-increment: $spacing-increment
$padding-increment: $spacing-increment