/*
 * Colors 
 */
 
// Blues 
$dark-blue: #003366
$light-blue: #CAE1FF

// Tans
$sand: #FEE8D6
$sand-darkened-10: darken($sand, 10%)
$sand-lightened-5: lighten($sand, 5%)


/*
 * Borders
 */

$border-width: 1px
$border-radius: 5px


/*
 * Spacing
 */
 
$spacing-increment: 5px
$margin-increment: $spacing-increment
$padding-increment: $spacing-increment