/*
 * Clearfix hack from http://css-tricks.com/snippets/css/clear-fix/
 */
 
@mixin group
  zoom: 1 /* For IE 6/7 (trigger hasLayout) */
  
  &:before, &:after
    content: ""
    display: table
  
  &:after
    clear: both


/*
 * Mixins for borders.
 */

@mixin round-corners
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius
  
@mixin drop-shadow
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
  
@mixin border
  @include round-corners
  border: solid $border-width $dark-blue
  
@mixin border-dashed
  border: 1px dashed gainsboro
  
  
/*
 * Mixins for shapes.
 */
 
@mixin triangle-up($color: $dark-blue, $size: 50px)
  width: 0
  height: 0
  border-left: $size solid transparent
  border-right: $size solid transparent
  border-bottom: (2 * $size) solid $color

@mixin triangle-down($color: $dark-blue, $size: 50px)
  width: 0
  height: 0
  border-left: $size solid transparent
  border-right: $size solid transparent
  border-top: (2 * $size) solid $color
  

/*
 * Mixins for backgrounds.
 */
  

/* 
 * Mixins for spacing.
 */
 
@mixin margined
  margin: $margin-increment
  
@mixin margined-vertical
  margin:
    top: $margin-increment
    bottom: $margin-increment
    
@mixin margined-horizontal
  margin:
    left: $margin-increment
    right: $margin-increment
  
@mixin margined-double
  margin: 2 * $margin-increment
  
@mixin margined-double-vertical
  margin:
    top: 2 * $margin-increment
    bottom: 2 * $margin-increment
 
@mixin padded
  padding: $padding-increment
  
@mixin padded-double
  padding: 2 * $padding-increment
  
@mixin padded-double-vertical
  padding: 
    top: 2 * $padding-increment
    bottom: 2 * $padding-increment
 

/*
 * Mixins for text.
 */
 
@mixin title
  font:
    size: 1.5em
    weight: bold
    
@mixin sub-title
  font: 
    size: 1.2em
    weight: bold
    
@mixin sub-sub-title
  font: 
    size: 1.1em
    weight: bold
    
    
/*
 * Basic page section mixins.
 */

@mixin page-section
  @include margined-double-vertical

  .section-title
    @include sub-title
    @include margined-vertical
    

/* 
 * Basic module mixins.  (Modules are like page sections, but can orruc at any
 * place in the page hierarcy.)
 */

@mixin module
  @include margined-vertical
  @include border
  @include padded-double

  .title
    @include sub-title
    @include margined-vertical