.radial-description-partial.radials-controller
  .radial-name
    = radial.name
  .edit-link
    - if defined?(editable) and editable
      = link_to 'Edit', edit_radial_path(radial)
  .radial-description
    = radial.description