@import 'global.css.sass'

.layouts
  &#header-partial
    @include group
    @include padded-double
    background: $light-blue
    
    #logo
      @include border
      float: left
      background: $dark-blue url("/assets/textures/gradient.png") repeat-x
      padding: (3 * $padding-increment) (4 * $padding-increment)
      a
        @include title
        text-decoration: none
        color: $sand
  
    #session-management
      float: right


#page-content
  @include padded-double
