@import 'global.css.sass'

@mixin page-configuration
  width: 1000px
  margin: 0 auto

.layouts
  &#header-partial
    @include group
    @include padded-double-vertical
    background: $light-blue
    
    #header-content
      @include page-configuration
      
      #logo
        @include border
        float: left
        background: $dark-blue url("/assets/textures/gradient.png") repeat-x
        padding: (3 * $padding-increment) (4 * $padding-increment)
        a
          @include title
          text-decoration: none
          color: $sand

      #session-management
        float: right


#page-container
  #page-content
    @include page-configuration
    @include padded-double-vertical
