@import 'global.css.sass'

.layouts
  &#header-partial
    @include group
    
    #logo
      @include round-corners
      @include border
      float: left
      padding: 15px 20px
      a
        text-decoration: none
  
    #session-management
      float: right
