// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global.css.sass'

.projects-controller
  &#show-template
    #project-header
      @include margined-double-vertical
    
      #name
        @include title
        @include margined-vertical
        float: left
        
      #edit-link
        @include margined
        float: left
        
      #description
        @include margined-vertical
        clear: left
  
    #radials
      float: left
      
      #learn-more
        @include margined
        float: right
    
      #graph
        #radar-chart
          width: 700px
          height: 500px
          border: 1px dashed gainsboro
          
    #questions
      float: left
    
    #suggestions
      width:  30%
      float:  right
      
      
  &#edit-template
    .section-title
      @include sub-title
      @include margined-vertical