// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global.css.sass'

.projects-controller
  &#show-template
    #project-header
      #name
        @include title
      #description
  
    #radials
      float: left
      
      #data
    
      #graph
        #radar-chart
          width: 700px
          height: 500px
          border: 1px dashed gainsboro
          
    #questions
      float: left
    
    #suggestions
      width:  30%
      float:  right