// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global.css.sass'

.questions-controller
  &.question-partial
    @include margined-vertical
    
    .title
      @include sub-sub-title
      float: left
    
    .edit-link
      @include margined-horizontal
      float: left
      
    .radials
      clear: left
    
    .description
