@import 'shared/constants.css.sass'
@import 'shared/mixins.css.sass'

body
  margin: 0px
  background: $sand-lightened-5


form
  label
    font-weight: bold

  input[type='email'], input[type='password']
    @include border
    @include padded
    width: 100%
    height: 20px

  textarea
    @include border
    @include padded
    width: 100%
    height: 75px

  input[type='submit']
    @include button-light
